@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.transition-all {
    transition: all 0.3s ease;
}

.hover-scale:hover {
    transform: scale(1.03);
}

/* Add smooth transitions */
#profile-dropdown {
    transition: all 0.3s ease;
    transform-origin: top right;
}

/* Optional: Add animation when dropdown appears */
#profile-dropdown.show {
    animation: fadeIn 0.2s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*index.html*/
.hero-image {
    background-image: url('landing page pic.jpg');
    background-size: contain;
    background-position: center;
}

.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/*dashboard.html*/
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
