@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.transition-all {
    transition: all 0.3s ease;
}

.hover-scale:hover {
    transform: scale(1.03);
}

/* Add smooth transitions */
#profile-dropdown {
    transition: all 0.3s ease;
    transform-origin: top right;
}

/* Optional: Add animation when dropdown appears */
#profile-dropdown.show {
    animation: fadeIn 0.2s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*index.html*/
.hero-image {
    background-image: url('landing page pic.jpg');
    background-size: contain;
    background-position: center;
}

.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/*courseDetails.html*/
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Force scrolling in PayPal iframe */
.paypal-checkout-sandbox {
    overflow: auto !important;
    height: 100vh !important;
}

/* Fix for mobile devices */
@media screen and (max-width: 768px) {
    body.paypal-modal-active {
        position: fixed !important;
        width: 100% !important;
    }

    .zoid-visible {
        overflow-y: auto !important;
        -webkit-overflow-scrolling: touch !important;
    }
}

.paypal-modal-active {
    overflow: hidden !important;
}

.card-fields-container {
    min-height: 400px;
    transition: height 0.3s ease;
}

/*coursePlayer.html*/
.sidebar-scroll {
    max-height: calc(100vh - 64px);
    overflow-y: auto;
}

.module-progress-bar {
    width: 3px;
    background-color: #E5E7EB;
    position: absolute;
    left: 16px;
    top: 32px;
    bottom: 0;
    z-index: 0;
}

.module-progress {
    width: 3px;
    background-color: #87CEEB;
    position: absolute;
    left: 16px;
    top: 32px;
    z-index: 1;
}
