/*@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
*/
body {
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.hero-image {
    background-image: url('landing page pic.jpg');
    background-size: contain;
    background-position: center;
}

.transition-all {
    transition: all 0.3s ease;
}

.hover-scale:hover {
    transform: scale(1.03);
}
